/**
* Add All Basic things for bootstrap
*/
a {
    color: #333;
    text-decoration: none;
}
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
button:hover {
    background-color: #000;
}
button:focus {
    outline: none;
}
button:active {
    background-color: #000;
}
button:disabled {
    background-color: #ccc;
    color: #666;
}
button:disabled:hover {
    background-color: #ccc;
    color: #666;
}
button:disabled:focus {
    background-color: #ccc;
    color: #666;
}
button:disabled:active {
    background-color: #ccc;
    color: #666;
}
button:disabled:hover {
    background-color: #ccc;
    color: #666;
}
input[type="text"] {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
input[type="text"]:focus {
    outline: none;
}
input[type="text"]:disabled {
    background-color: #ccc;
    color: #666;
}
input[type="text"]:disabled:focus {
    background-color: #ccc;
    color: #666;
}
input[type="text"]:disabled:hover {
    background-color: #ccc;
    color: #666;
}
input[type="text"]:disabled:active {
    background-color: #ccc;
    color: #666;
}
input[type="text"]:disabled:hover {
    background-color: #ccc;
    color: #666;
}
input[type="text"]:disabled:focus {
    background-color: #ccc;
    color: #666;
}
/* remove input and select outer color when select or click */
input, select, textarea, :checked {
    outline: none;
}
input:focus, select:focus, textarea:focus, :checked:focus {
    outline: none;
}
input:hover, select:hover, textarea:hover, :checked:hover {
    outline: none;
}
input:active, select:active, textarea:active, :checked:active {
    outline: none;
}
input:disabled, select:disabled, textarea:disabled, :checked:disabled {
    outline: none;
}

/*
* Card Design for part 1
*/

/*
* Card Design for part 2
*/
.h__card {
    border-radius: 10px !important;
    border-style: dashed !important;
    border-color: #333 !important;
}



/*
==================== Part 3 ====================
*/

#post__house_photo td a {
    display: block;
    position: relative;
    width: 100%;
}

#post__house_photo td a img {
    display: block;
    width: 100%;
    height: auto;
}

#post__house_photo td a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.5s;
}

#post__house_photo td .p__active::after {
    opacity: 0;
}

#post__house_photo td a:hover::after {
    opacity: 0;
}

/*
==================== Part 4 ====================
*/
/*inner_taxo_item ul li label image should be check when input is checked*/
.image-checkbox {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.image-checkbox img {
    display: block;
    max-width: 100%;
    height: auto;
}
.image-checkbox input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.image-checkbox .fa-check {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 192, 51, 0.488);
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    z-index: 1;
}
.image-checkbox input[type="checkbox"]:checked+.fa-check {
    display: block;
}
.image-checkbox input[type="checkbox"]:checked+.fa-check+.img-responsive {
    border: 3px solid #007bff;
}